<div class="imagenes-productos">
  <div class="producto-relacionado">
    <a href="/products/<%= product.id %>/detail" class="product-card__details">
    <img src="/images/products/<%= product.image %>" alt="foto de <%= product.name %>" />
    <h4><%= product.name %></h4>
    <h4>$<%= product.price %></h4>
    </a>
    <a href="/productcart" class="product-card__button"><button>Añadir a carrito</button></a>
  </div>
</div>