<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/navbar') %>

    <section>
      <div class="container-form">
        <div class="errores">
          <ul></ul>
      </div>
        <form class="main-form" action="products/create" method="POST" enctype="multipart/form-data">
          <h4>Formulario de creación de productos</h4>
          <input  class="controls <%= locals.errors && errors.name ? 'is-invalid' : null %>" type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>" />
          <% if (locals.errors && errors.name) { %>
            <div class="text-danger"><%= errors.name.msg %></div>
            <% } %>
          <input class="controls <%= locals.errors && errors.price ? 'is-invalid' : null %>" type="number" name="price" id="price" placeholder="Precio" value="<%= locals.oldData ? oldData.price : null %>" />
          <% if (locals.errors && errors.price) { %>
            <div class="text-danger"><%= errors.price.msg %></div>
            <% } %>
            <input class="controls <%= locals.errors && errors.stock ? 'is-invalid' : null %>" type="number" name="stock" id="stock" placeholder="stock del producto" value="<%= locals.oldData ? oldData.stock : null %>" />
            <% if (locals.errors && errors.stock) { %>
              <div class="text-danger"><%= errors.stock.msg %></div>
  
              <% } %>
              <label>¿Producto on sale?</label>
          <select class="<%= locals.errors && errors.on_sale ? 'is-invalid' : null %>" name="on_sale">
            <option value="">Selecionar</option>
            <%  
              let options = ['0', '1'];
            %>
            <% for (const oneOption of options) { %>
              <option 
                value="<%= oneOption %>"
                <%= locals.oldData && (oneOption === oldData.on_sale) ? 'selected' : null %> 
              > <%= oneOption %> </option>
            <% } %>
          </select>
          <br>
            <select
            class="p-2 border rounded-md <%= locals.errors && errors.presentation ? 'border-red-700' : null %>"
            name="presentation"
            id="presentation"
          >
            <option value="">Elegí una presentación</option>
            <%  
              let presentations = ['1kg', 'un atado', 'una unidad', '500gr', '250gr'];
            %>
            <% for (const onePresentation of presentations) { %>
              <option 
                value="<%= onePresentation %>"
                <%= locals.oldData && (onePresentation === oldData.presentation) ? 'selected' : null %> 
              > <%= onePresentation %> </option>
            <% } %>
            
          </select>
       
 
          <input
            class="controls <%= locals.errors && errors.description ? 'is-invalid' : null %>"
            type="text"
            name="description"
            id="description"
            placeholder="Descripción del producto"
            value="<%= locals.oldData ? oldData.description : null %>"
          />
          <% if (locals.errors && errors.description) { %>
            <div class="text-danger"><%= errors.description.msg %></div>

            <% } %>
          <br />
          <label>Selecionar categoria</label>
          <select class="<%= locals.errors && errors.category ? 'is-invalid' : null %>" name="category_id">
            <option value="">Categorías</option>
        
                <% allCategories.forEach(category=> { %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                  <% }); %>
                
                  <%= locals.oldData && (oneCategory === oldData.category_id) ? 'selected' : null %> 
               
           
         
            
        
          </select>
          <br />
          <label>Foto de producto</label>
          <input class="<%= locals.errors && errors.image ? 'is-invalid' : null %>" type="file" name="image" id="image"/>
          <% if (locals.errors && errors.image) { %>
            <span class="text-danger"><%= errors.image.msg %> <i class="fa-solid fa-circle-exclamation"></i></span>
            <% } %>
          <input class="bottons" type="submit" value="AGREGAR" />
        </form>
      </div>
    </section>
    <%- include('./../partials/footer') %> <%- include('./../partials/scripts') %>
    <script type="module" src="/js/create.js"></script>
  </body>
</html>
