<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/navbar') %>
    <div class="container">
      <form id="search" action="/products/all" method="GET">
        <div class="">
          <input id="search-input" type="text" />
          <button type="submit" class="">Buscar</button>
        </div>
      </form>
      <% if (locals.userIsLogged && userLogged.role_id == 1) { %>
      <a class="button" href="products/create">Crear producto</a>
      <% } %>
    </div>
    <section class="products__grid-layout container">
      <div class="products__categories">
        <div class="products__categories-header">
          <h2 class="">Categorías</h2>
          <div id="btn-collapse"><i class="fa-solid fa-chevron-down"></i></div>
        </div>
        <ul id="categories-links" class="products__categories-links is-open">
          <li><a href="/products/all" class="">Todos los productos</a></li>
          <li><a href="/products/category/1" class="">Frutas</a></li>
          <li><a href="/products/category/2" class="">Verduras</a></li>
          <li><a href="/products/category/3" class="">Canastas</a></li>
        </ul>
      </div>
      <div id="container-products" class="products">
        <% products.forEach(product => { %>
        <%-include('./../partials/productCard', {product}) %> <% }) %>
      </div>
      <div></div>
      <div class="button-pag">
        <button id="button-prev"><</button>
        <button id="button-next">></button>
      </div>
    </section>

    <%- include('./../partials/footer') %> <%- include('./../partials/scripts')
    %>
    <script src="/js/products.js"></script>
  </body>
</html>
