<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="container slide">
            <h1 class="slide__title">Productos frescos todo el año</h1>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container slide">
            <h1 class="slide__title">Suscribite a nuestras ofertas</h1>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container slide">
            <h1 class="slide__title">Envíos a todo el país</h1>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>

    <section class="section">
      <div class="container">
        <h2 class="section__title">Destacados</h2>
        <section class="products">
          <% const filteredProducts = products.filter(product => product.on_sale == 1) %> 
          <% filteredProducts.forEach(product => { %>
           
            <%- include('./partials/productCard', { product }) %>
          <% }) %>
        </section>
      </div>
    </section>

    <%- include('./partials/footer') %>
    <script src="../swiper/swiper-bundle.min.js"></script>
    <script src="../js/carousel.js"></script>

    <%- include('./partials/scripts') %>
  </body>
</html>
