<article class="product-card">
  <a href="/products/detail/<%= product.id %>" class="product-card__details">
    <img src="images/products/<%= product.image %>" alt="" class="product-card__img" />
    <h2 class="product-card__title"><%= product.name %></h2>
    <p class="product-card__price">$<%= product.price %></p>
    <p class=""><%= product.presentation %></p>
  </a>
  <% if (locals.userIsLogged) { %>
  <a href="/users/shopping-cart" class="product-card__button"><button class="addToCart">Comprar</button></a>
  <% } else { %>
  <a href="/products/detail/<%= product.id %>" class="product-card__button">Ver</a>
  <% } %>
</article>
