<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/navbar') %>
    <section>
      <article class="contenedor-detalleproducto">
        <div class="fotoproducto" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <img src="/images/products/<%= product.image %>" width="100%" alt="foto de producto" />
        </div>
        <div class="detalle-producto" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
          <a href="/products/all">Productos/</a><a href="/products/category/<%= product.category_id%>">Categoria/</a><%=
          product.name %>
          <h3><%= product.name %></h3>
          <h3>Precio</h3>
          <h2>$<%= product.price %></h2>
          <p><%= product.presentation %></p>
          <label>Cantidad</label> <input type="number" />
          <a href="/users/shopping-cart" class="product-card__button">Añadir a carrito</a>
          <span class="description"><%= product.description %></span>
        </div>
      </article>

      <div class="titulo-productos">
        <h2>Productos Relacionados</h2>
      </div>

      <div class="products">
        <% relatedProducts.forEach(product => { %>
        <div><%- include('./../partials/productCard', {product}) %></div>
        <% }) %>
      </div>
    </section>

    <%- include('./../partials/footer') %> <%- include('./../partials/scripts') %>
    <script src="../../swiper/swiper-bundle.min.js"></script>
    <script src="../../js/carousel.js"></script>
  </body>
</html>
