<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/header') %>
    <section>
      <article class="contenedor-detalleproducto">
        <div class="fotoproducto">
          <img src="images/products/<%= product.image %>" width="100%" alt="foto de producto" />
        </div>
        <div class="detalle-producto">
          <h6>Home/frutas/manzana-verde</h6>
          <h3><%= product.name %></h3>
          <h3>Precio</h3>
          <h2>$<%= product.price %></h2>
          <p>por kg</p>
          <select>
            <option>Cantidad</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <button>Añadir a carrito</button>
          <p class="description">
            La manzana es el fruto ideal para tomar a cualquier hora y participa positivamente en la consecución del
            equilibrio alimentario. A la manzana se le atribuyen muchas propiedades curativas, aparte de su reconocido
            poder diurético. Como su nombre indica, su piel es de un color verdoso y es una de las manzanas más ácidas
            que hay. Su pulpa es verdosa, muy densa y crujiente, con un punto efervescente. Se recomienda comer en crudo
            y dar un toque de frescor.
          </p>
        </div>
      </article>
    </section>
    <section>
      <div class="titulo-productos">
        <h2>Productos Relacionados</h2>
      </div>
      <div class="contenedor-productos">
        <ul>
          <% basketProducts.forEach(product => { %>
          <li><%- include('./../partials/productCard', {product}) %></li>
          <% }) %>
        </ul>
      </div>
    </section>
    <div class="iconocarro">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <%- include('./../partials/footer') %> <%- include('./../partials/scripts') %>
  </body>
</html>
