<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head') %>
  <body>
    <%- include('./../partials/navbar') %>
    <div class="divided-screen">
      
      <div class="right-screen bg-orange"></div>
      <div class="left-screen bg-light-orange">
        <div class="container-form">
        <form id="form" class="form" action="/users/login" method="POST" data-aos="fade-left">
          <div class="errores">
            <ul></ul>
          </div>
          <h2 class="form__title text-orange">¡Qué gusto volver a verte!</h2>
          <div class="">
            <label for="email">Email</label>
            <input
              class=""
              type="text"
              name="email"
              id="email"
              value="<%= locals.oldData ? oldData.email : null %>"
            />
            <% if (locals.errors && errors.email) { %>
            <div class="text-invalid"><%= errors.email.msg %></div>
            <% } %>
          </div>

          <div class="">
            <label for="password">Contraseña</label>
            <input
              class=""
              type="password"
              name="password"
              id="password"
              value="<%= locals.oldData ? oldData.password : null %>"
            />
            <% if (locals.errors && errors.password) { %>
              <div class="text-invalid"><%= errors.password.msg %></div>
            <% } %>
          </div>

          <div class="">
            <input type="checkbox" id="remember_user" name="remember_user" />
            <label for="remember_user">Recordar mi usuario</label>
          </div>

          <button id="" class="button bg-orange" type="submit">Iniciar sesión</button>
        </form>
      </div>
    </div>
    <%- include('./../partials/scripts') %>
    <script type="module" src="/js/login.js"></script>
  </body>
</html>
