<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('./../partials/navbar') %>

    <form class="form-profile container pt-4px" id="form">
      <div>
        <h1>Perfil</h1>
      </div>
      <div class="row">
        <div class="col-12 pb-2">
          <div class="form-group">
            <img
              class="avatar-profile"
              src="images/avatars/<%= user.avatar %> "
              alt="profile..."
              id="imageProfile"
            />
            <label for="avatar">Modificar la imagen de perfil</label>
            <input
              id="avatar"
              type="file"
              class="form-control-file"
              name="avatar"
              accept=".png, .jpg, .jpeg"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group pb-2">
            <label for="first_name">Nombre</label>
            <input
              id="first_name"
              type="text"
              class="form-control"
              name="first_name"
              value="<%= user.first_name %> "
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group pb-2">
            <label for="last_name">Apellido</label>
            <input
              id="last_name"
              type="text"
              class="form-control"
              name="last_name"
              value="<%= user.last_name %> "
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group pb-2">
            <label for="email">Email</label>
            <input
              id="email"
              type="email"
              class="form-control"
              name="email"
              value="<%= user.email %> "
              required
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group pb-2">
            <label for="mobile">Telefono</label>
            <input
              id="mobile"
              type="text"
              class="form-control"
              name="mobile"
              value="<%= user.mobile %> "
              required
            />
          </div>
        </div>
      </div>
    </form>

    <%- include('../partials/footer') %>
    <script type="module" src="/js/profile.js"></script>
    <%- include('../partials/scripts') %>
  </body>
</html>
